<!DOCTYPE html>
<html lang="en">
<head>
  <title>Plate Saver App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
    }
    .container {
      margin-top: 20px;
    }
    .app-header {
      background-color: #007bff;
      color: white;
      text-align: center;
      padding: 20px;
      }
    .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .navbar-nav .nav-item {
      margin: 0 10px;
    }

  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/home">Add Contributor</a></li>
            <li class="nav-item"><a class="nav-link" href="/fetch-contributor">View Contributor</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">Search Contributor</a></li>
            <li class="nav-item"><a class="nav-link" href="/manage-list">Manage list</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>

          </ul>
        </div>
      </nav>
  <h2>Message</h2>
  <div class="alert alert-danger">
    <strong>Error!</strong> {{message}}
  </div>

</body>
</html>
